/* 弹窗遮罩 */
#qr-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.55);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* 弹窗主体 */
#qr-box {
    background: #ffffff;
    padding: 25px 28px;
    border-radius: 12px;
    text-align: center;
    width: 480px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

/* 标题 */
.qr-title {
    margin: 0 0 8px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #007a8a;
}

/* 提示文字 */
.qr-hint {
    margin: 0 0 15px 0;
    font-size: 0.9rem;
    color: #333;
}

/* 二维码区域 */
.qr-code-area {
    margin: 0 auto 15px auto;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center; /* 二维码水平居中 */
    align-items: center;
}

/* 按钮组 */
.qr-btn-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* 关闭按钮 */
.qr-close-btn,
.qr-download-btn {
    padding: 6px 12px;
    background: #ffffff;
    border: 2px solid #007a8a;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.95rem;
    color: #007a8a;
    transition: 0.3s;
}

.qr-close-btn:hover,
.qr-download-btn:hover {
    background: #007a8a;
    color: white;
}



.qr-url {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.qr-url .url-label {
    font-size: 1rem;
    display: block; /* 换行显示文字 */
    font-weight: bold;
    margin-bottom: 4px;
    font-weight: bold;
}

.qr-url a {
    font-weight: bold;;
    display: block; /* 换行显示 URL */
    color: #007a8a;
    text-decoration: none;
    padding: 4px 6px;
    border-radius: 4px;
    word-break: break-all;
    transition: background-color 0.3s, color 0.3s;
}
