<!-- 页脚 -->
<footer class="site-footer">
  <div class="legal-info">
    <span class="copyright">版权所有 © 2023–2025 我的分享小站</span>
    <span class="copyright">仅供交流学习，严禁下载资料后直接或者二次修改后间接转卖</span>
  </div>
  <div class="legal-info">
    <a href="https://qm.qq.com/q/5paDenVfoI" class="qq-contact">QQ: 718123472</a>
    <span class="sep">｜</span>
    <a href="mailto:xxzl88@qq.com" class="email-contact">xxzl88@qq.com</a>
    <span class="sep">｜</span>
    <a href="https://xxzl88.netlify.app" class="qq-contact">https://xxzl88.netlify.app</a>
    <span class="sep">｜</span>
    <a href="https://xxzl88.github.io/study" class="email-contact">https://xxzl88.github.io/study</a>
  </div>
</footer>
